.landing_page_searchField {
    width: 100%
}

.landing_page_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.landing_page_searchField_wrapper {
    width: 80%;
    margin: 2rem  auto;
    display: flex;
    gap: 0.2rem;
}



.landing_page_repositoryList_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    width: 80%;
    padding-bottom: 1rem;
}



.landing_page_repositoryList_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1 1 25%;
    height: 15rem;
    max-width: 15rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.5rem;
}

.landing_page_repositoryList_item.tabular {
    display: grid;
    flex: 1 1 100%;
    max-width: unset;
    flex-direction: row;
    flex-wrap: wrap;
    height: 6rem;
    padding: 0.2rem;
    grid-column-gap: 0.1rem;
    grid-template-columns: max-content auto ;
    grid-template-rows: auto auto;
}

.landing_page_repositoryList_item_skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 25%;
    height: 15rem !important;
    max-width: 15rem !important;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.5rem;
    transform: unset !important;

}

.landing_page_repositoryList_item_skeleton.tabular {
    flex: 1 1 100% !important;
    height: 6rem !important;
    max-width: unset !important;
}


.landing_page_repositoryList_item:hover {
    outline: skyblue 1px solid;

}

.landing_page_notFound {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: lightgray;
    font-weight: 600;
}

.landing_page_owner_avatar {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 4rem !important;
    height: 4rem !important;
    outline: 1px solid lightgray ;
;
}

.landing_page_owner_avatar.tabular {
    grid-row: 1 / 3
}

.landing_page_repoName {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;

}

.landing_page_repoName.tabular {
    grid-row: 1 /1;
    margin: 0;
}

.landing_page_repoName span {
    background-color: grey;
    padding: 0.2rem 0.4rem ;
    font-size: 0.8rem;
    border-radius: 4px;

}

.landing_page_repoDescription {
    max-height: 5.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.landing_page_repoDescription.tabular {
    grid-row: 2;
    grid-column: 2;
    text-align: center;

}

.landing_page_pagination_wrapper {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 450px) {
    .landing_page_repositoryList_item ,.landing_page_repositoryList_item_skeleton {
        flex: 1 1 100%;
        max-width: unset !important;
    }
}

