

.detailPage_mainCard_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto auto 1rem ;
    max-width: 40rem;
}

.detailPage_details_wrapper {
    width: 100%;
    padding: 3rem 1rem 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.detailPage_arrowHome {
    position: absolute;
    width: fit-content;
    display: flex;
    gap: 0.5rem;
    margin: 1rem;
    font-weight: 500;
    cursor: pointer;

}

.detailPage_details_wrapper > span {
    display: flex;
    gap: 0.4rem;
}

.detailPage_owner_avatar_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative !important;
    top: 3rem;
}

.detailPage_owner_avatar{
    width: 5rem !important;
    height: 5rem !important;

}

.detailPage_contributors_wrapper {
    width: 100%;
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;

}

.detailPage_contributors_wrapper_skeleton {
    width: 100%;
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.detailPage_contributors_wrapper > *  {
    flex: 1 1 ;
    display: flex;
    justify-content: center;
    max-width: fit-content;
}

.usedLanguages {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.usedLanguages_title {
    margin: 0;
    width: 80%;
}

.usedLanguages_progress_container {
    border-radius: 0.3rem;
    display: inline-flex;
    margin: auto;
    width: 80%;
    height: 0.6rem;
    overflow: hidden;
}

.usedLanguages_names_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    width: 80%
}

.usedLanguages_names_item {
    flex: 1 1 33%;
    display: flex;
    max-width: 33%;
    justify-content: left;
    align-items: center;
    gap: 0.4rem;

}

.usedLanguages_name_marker {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.contributors {
    width: 80%;
    margin: auto auto 3rem;

}

.toggle_contributors_view {
    color: blue;
    font-weight: 400;
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
}

@media (max-width: 450px) {
    .detailPage_mainCard_wrapper {
        width: 100%;
        max-width: unset;
        margin: 0

    }
}